@charset "UTF-8";


.category{
    margin: 15px 60px;
    font-size: 26px;
}

.genre, .nation{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
}

.genre_name, .nation_name{
    list-style-type:none;
    padding: 4px 10px;
    border-radius: 13px;
    background-color: #585858;
    margin: 3px 6px;
    cursor: pointer;
    color: #dddddd;
}

.content{
    width: 16.6667%;
    vertical-align: top;
    margin: 1%;
    overflow: auto;
    cursor: pointer;
}


.poster_img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.content_all{
    /* display: grid; */
    /* grid-template-columns: repeat(5, 1fr); */
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    margin: 0 auto;
    justify-content:space-between;
    border-radius: 10px;
}

.click_genre, .click_nation{
    background-color: #cccccc;
    color: #252525;
}
#search{
    margin-top: 30px;
}
#search > input[type="submit"]{
    height: 28px;
    color: #fff;
    font-size: 16px;
    background-color: #007bff;
    padding: 0 10px;
    box-sizing: border-box;
    border-radius: 6px;
}
#search > input[type="text"]{
    width: 10%;
    height: 25px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 16px;
    border-radius: 6px;
    background-color: #F8F8F8;
    color: black;
}